* {
    margin: 10px;
    padding: 0px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    text-align: center;

    background-image: url("./pexels-roman-friptuleac-10925135.jpg");
    background-size: cover;
}

.mainContainer {
    text-align: center;

    font-weight: 120px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0px;

    margin-left: 30rem;
    margin-top: 2.6rem;
    margin-bottom: 1rem;
    margin-right: 30rem;


    border: 1px groove rgba(7, 7, 7, 0.2);
    /*box-shadow: 0 4px 30px rgb(255, 255, 255, 0.9);*/
    box-shadow: 0 0px 30px black;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);

    height: 610px;
    max-height: 650px;
    width: 550px;
}

.btn {
    cursor: pointer;
    padding: 10px;

    border-radius: 2rem;
    border: none;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);

    font-size: 20px;
    font-weight: bolder;

    transition: 0.4s;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(6px);
}

hr {
    opacity: 5;
    background-color: black;
}